{% extends 'base.html.twig' %}

{% block title %}Création d'un langage{% endblock %}

{% block body %}
<div id="admin">
    <div class="page-title d-flex justify-content-center">
        <h1>Ajout d'un langage</h1>
    </div>
    <div class="container-fluid">
        {{ include('language/_form.html.twig') }}

        <a class="btn btn-info" href="{{ path('language_index') }}"><i class="fas fa-backward"></i> Retour à la liste</a>
    </div>
</div>
{% endblock %}
