{{ form_start(form) }}
    {{ form_widget(form) }}
<div class="record-btn">
    <button class="btn btn-primary "><i class="fas fa-save"></i> {{ button_label|default('Enregistrer') }}</button>
</div>

{{ form_end(form) }}
