{% extends 'base.html.twig' %}

{% block title %}Edit Projet{% endblock %}

{% block body %}
    <div id="admin">
        <div class="page-title d-flex justify-content-center">
            <h1>Modification d'un projet</h1>
        </div>
        <div class="container-fluid">
            {{ include('projet/_form.html.twig') }}
            <div class="back-delete-btn">
                <a class="btn btn-info" href="{{ path('projet_index') }}"><i class="fas fa-backward"></i> Retour à la liste</a>

                {{ include('projet/_delete_form.html.twig') }}
            </div>

        </div>
    </div>
{% endblock %}
