<form method="post" action="{{ path('screen_shot_delete', {'id': screen_shot.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ screen_shot.id) }}">
    <button class="btn">Delete</button>
</form>
