@import "~bootstrap/scss/bootstrap";
$un : white;
$deux : #1e3d59;
$trois : #ff6e40;
$quatre : #ffc13b;
body {
    font-family: 'Raleway', sans-serif;
    background-color: $deux;
    color: $trois;
}

.alert {
    font-size: 24px;
    margin: 5px;
    border-radius: 0 0 5px 5px;
}

.btn-std {
    border-radius: 5px;
    margin: 10px;
    background-color: $deux;
    color: $un;
    font-size: 1.5rem;
}

.btn-std:hover {
    color: $trois;
}

.navbar {
    background-color: $un;
    border-bottom: $deux solid 2px;

    ul li a {
        margin: 0 30px;
    }

    .nav-link,
    .navbar-brand {
        font-size: 2rem;
        color: $deux;
        font-weight: bold;
        letter-spacing: 5px;
    }

    .nav-link:hover,
    .navbar-brand:hover {
        color: $trois;
        text-decoration: underline;
    }
    .navbar-toggler {
        border: 2px solid $deux;

        .navbar-toggler-icon {
            background-color: $deux;
        }
    }
}

#admin {
    font-size: 1.5rem;

    .container-fluid {
        width: 85%;
    }
    .table-line tr,
    .table-user td {
        background-color: $un;
    }
    .table th {
        width: 20%;
    }

    #projet img {
        width: 20%;
    }
    .record-btn {
        display: flex;
        justify-content: center;
    }
    .back-delete-btn {
        display: flex;
        justify-content: space-around;
        margin: 20px 0;

    }

}


#home {
    h1 {
        margin: 10px 0 30px 10px;
        display: flex;
        justify-content: center;
        text-align: center;
        font-weight: bold;
        letter-spacing: 20px;
    }

    .lead {
        display: flex;
        justify-content: center;
        font-weight: bold;
        letter-spacing: 5px;
    }

    .pres-picture {
        margin:auto;
    }

    .form-control {
        font-size: 24px;
        border-radius: 5px;
    }

    .form-message {
        height: 200px;
    }

    .jumbotron {
        padding: 1rem 2rem;
        background-color: $un;
        margin: 0.5rem 0;
        border: $trois solid 2px;
    }
}

#presentation {
    .jumbotron {
        display: flex;
        flex-wrap: wrap;
        flex:10;
    }

    .info {
        flex: 4;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
        text-align: center;

        h1 {
            color : $deux;
        }
    }

    .picture {
        flex: 2;
        padding: 0% 5% ;
        display: flex;
        justify-content: center;
        margin: auto;

        img {
            border-radius: 5px;
            border: solid $deux 4px;
            box-shadow: 0px -1px 10px 6px $deux;
        }
    }
}

#projet {
    .card-deck {
        display: flex;
        flex-wrap: wrap;
    }
    .global-card {
        display: flex;
        max-width: 46%;
        flex-direction: column;
        margin: auto;
        min-width: 500px;

    }
    .card {
        border-radius: 5px;
        margin: auto;
        background-color: $deux;
        border-color: black;
        border-radius: 5px 5px 0 0;
        height: 400px;
        min-width: 400px;
    }

    .col-md-5 {
        margin: auto;
    }
    img {
        width: 100%;
    }

    .card-header {
        font-size: 2.5rem;
    }

    .card-body {
        font-size: 1.8rem;
        padding: 0;
    }

    .card-text {
        padding: 10px;

    }

    .card-footer {
        background-color: $deux;
        display: flex;
        justify-content: center;
        border-radius: 0 0 5px 5px;
        .card-link {
            color: $quatre;
            font-size: 1.5rem;

        }
    }

}

#mon-propos {
    .lead {
        color: $deux;
        padding: 0 5%;
    }
}

#contact {
    .form-group-global {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .form-group-1 {
        margin: auto;

        input,
        textarea {
            width: 700px;
        }
    }

    .captcha {
        display: flex;
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
    }

    .BDC_SoundIcon {
        visibility: hidden;
    }

    .BDC_CaptchaIconsDiv {
        margin:22px 0px -7px 0px !important;
    }

    #captchaCode {
        width: 300px;
    }
}

/** page projet **/
#project-page {
    margin: 10px;
    padding: 20px;
    background-color: $un;
    color: $deux;
    font-size: 1.5rem;

    .jumbotron {
        background-color: $deux;
        color: $un;
        display: flex;
        flex-wrap: wrap;

        .screenshot {
            margin: auto;
        }
    }
}



@media screen and (max-width: 1100px) {
    #projet {
        .row {
            display: flex;
            flex-direction: column;
        }
        .col-md-5 {
            max-width: inherit;
        }
        .col-md-7 {
            max-width: inherit;
        }

    }

}


