@import "~bootswatch/dist/sketchy/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/sketchy/bootswatch";
body {
    font-family: 'Josefin Sans', sans-serif;

}

.btn {
    border-radius: 5px;
    margin: 10px;
}
#admin {

    .page-title {
        margin: 30px;
    }
    .container-fluid {
        width: 70%;
    }

}

