<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport">
    <title>{% block title %}Contact{% endblock %}</title>
    <style type="text/css">
        body {
            background:#4e5d6c;
        }
        h1 {
            color: #df691a;
        }
        td {
            background: #df691a;
            font-size: 24px;
        }

    </style>
</head>
<body>

<div>
    <h1>Message reçu du Portfolio</h1>
</div>
<div>
    <table>
        <tbody>
            <tr>
                <td >Prénom</td>
                <td>{{ contact.firstName }}</td>
            </tr>
            <tr>
                <td>Nom</td>
                <td>{{ contact.lastName }}</td>
            </tr>

            <tr>
                <td>Email</td>
                <td>{{ contact.email }}</td>
            </tr>
            <tr>
                <td>Message</td>
                <td>{{ contact.message }}</td>
            </tr>
        </tbody>
    </table>
</div>

</body>
</html>
