{% extends 'base.html.twig' %}

{% block body %}
    <h1> Bienvenue sur mon portfolio</h1>

    <section id="presentation">
        <h1>Nicolas Gaget</h1>
        <h2>Développeur web - Lyon</h2>
    </section>

    <section id="projet">
        <h1>Mes projets</h1>
    </section>

    <section id="apropos">
        <h1>A propos de moi</h1>
    </section>

    <section>
        <h1> Me contacter</h1>
    </section>

{% endblock %}
