{% extends 'base.html.twig' %}

{% block title %}Admin Profil{% endblock %}

{% block body %}
    <div id="admin">
        <div class="page-title d-flex justify-content-center">
            <h1>Modification de mon profil</h1>
        </div>
        <div class="container-fluid">
            {{ include('user/_form.html.twig', {'button_label': 'Enregistrer les modifications'}) }}

            <a class="btn btn-info" href="{{ path('admin_index') }}"><i class="fas fa-backward"></i> Retour au menu</a>

            {{ include('user/_delete_form.html.twig') }}
        </div>

    </div>

{% endblock %}
